    /* ========全域樣式======= */
    body {
      margin: 0;
      font-family: "Poppins", sans-serif;
      background-color: #FEE832;
    }

    .hidden {
      display: none;
    }

    .show {
      display: block;
    }

    /* ======== 第一部分 ======== */
    .part1 {
      position: relative;
      width: 100%;
      height: 55.25vw;
      /* 16:9 比例 */
      background-color: #FEE832;
      display: flex;
      min-height: none;
    }

    /* 導覽列 */
    .navbar {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background: linear-gradient(to bottom, #ffffff, rgba(245, 245, 2, 0.137));
      position: absolute;
      width: 100%;
      z-index: 2;
    }

    .nav-item {
      margin-right: 1vw;
      position: relative;
      cursor: pointer;
      font-weight: 600;
      font-size: 1.6vw;
    }

    .nav-item-style {
      background-color: #f0f0f0;
      border: 0.05vw solid #000;
      padding: 0.4vw 0.4vw 0 0.4vw;
      border-radius: 20px;
    }

    .nav-item img {
      min-width: 1.5vw;
      min-height: 1.5vw;
      width: 2vw;
      height: 2vw;
    }

    /* 下拉 DIV */
    .dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      background: white;
      border-radius: 0.5vw;
      box-shadow: 0 0.3vw 1vw rgba(0, 0, 0, 0.15);
      overflow: hidden;
      transform: translateY(-1vw);
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s ease;
      z-index: 11;
    }

    .dropdown.active {
      transform: translateY(0);
      opacity: 1;
      pointer-events: auto;
    }

    .dropdown-item {
      padding: 0.8vw 1.2vw;
      font-size: 0.9vw;
      transition: background 0.2s;
    }

    .dropdown-item:hover {
      background: #f0f0f0;
    }

    .separateRight {
      margin-right: 3vw;
    }

    .separateLeft {
      padding-left: 3vw;
    }

    .navbar ul {
      display: flex;
      list-style: none;
    }

    .sign {
      line-height: 12px;
      font-size: small;
      text-align: right;
      margin-top: 10px;
    }


    /* ======768px以下導覽列下拉選單========  */
    .container {
      cursor: pointer;
    }

    .bar1,
    .bar2,
    .bar3 {
      width: 20px;
      height: 1px;
      background-color: #333;
      margin: 5px 10px 0 0;
      transition: 0.4s;
    }

    .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
      opacity: 0;
    }

    .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
    }


    .overlay {
      height: 0%;
      width: 100%;
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.9);
      overflow-y: hidden;
      transition: 0.5s;
    }

    .overlay-content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }

    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }

    .overlay a:hover,
    .overlay a:focus {
      color: #f1f1f1;
    }

    .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
    }

    @media screen and (max-height: 450px) {
      .overlay {
        overflow-y: auto;
      }

      .overlay a {
        font-size: 20px
      }

      .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
      }
    }

    /* =======彈窗畫面======== */
    /* 弹窗 (background) */
    .modal {
      display: none;
      /* 默认隐藏 */
      position: fixed;
      /* 固定定位 */
      z-index: 1;
      /* 设置在顶层 */
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.4);
    }

    /* 弹窗内容 */
    .modal-content {
      margin: 15% auto;
      width: 60%;
      position: relative;
    }

    /* 关闭按钮 */
    .close {
      position: absolute;
      color: #aaa;
      font-size: 28px;
      font-weight: bold;
      top: 10px;
      right: 25px;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

    /* ======== 主視覺圖片 ======== */
    .soda-title-big {
      position: absolute;
      top: 8vw;
      left: 33vw;
      width: 38vw;
    }

    .union {
      position: absolute;
      top: 22vw;
      left: 48vw;
      width: 8vw;
    }

    .saja {
      position: absolute;
      top: 29vw;
      left: 18vw;
      width: 30vw;
    }

    .boys {
      position: absolute;
      top: 30vw;
      left: 50vw;
      width: 30vw;
    }

    /* ======== 星星動畫 ======== */
    @keyframes floatStar {
      0% {
        transform: translateY(0) rotate(0deg);
      }

      50% {
        transform: translateY(-1vw) rotate(10deg);
      }

      100% {
        transform: translateY(0) rotate(0deg);
      }
    }

    @keyframes floatStarReverse {
      0% {
        transform: translateY(0) rotate(0deg);
      }

      50% {
        transform: translateY(1vw) rotate(-10deg);
      }

      100% {
        transform: translateY(0) rotate(0deg);
      }
    }

    .star {
      position: absolute;
      width: 8vw;
      animation: floatStar 4s ease-in-out infinite;
    }

    .star.reverse {
      animation: floatStarReverse 5s ease-in-out infinite;
    }

    /* 星星分布位置 */
    .star1 {
      top: 12vw;
      left: 8vw;
      width: 8vw;
    }

    .star2 {
      top: 11vw;
      right: 10vw;
      width: 8vw;
    }

    .star3 {
      top: 45vw;
      left: 5vw;
      width: vw;
    }

    .star4 {
      top: 20vw;
      left: 27vw;
      width: 8vw;
    }

    .star5 {
      top: 40vw;
      right: 2vw;
      width: 8vw;
    }

    img {
      user-select: none;
      -webkit-user-drag: none;
    }


    /* ======== 第四部分 ======== */
    .wrap {
      background-color: #f6f884;
      display: flex;
      /* height: 50vh; */
      justify-content: center;
      margin-top: 2vw;
    }

    .part5 {
      width: 100%;
      /* height: 80%; */
      display: flex;
      justify-content: center;
      color: #fff;
      text-align: center;
      letter-spacing: 0.3em;
      margin-top: 0;
    }

    .part5 .text-34 {
      font-size: 34px;
      letter-spacing: 0.02em
    }

    .part5 .text-14 {
      font-size: 14px;
    }

    .text-shadow {
      text-shadow: 1px 1px #000, 1px -1px #000,
        -1px 1px #000, -1px -1px #000;
    }

    .discount {
      width: 30%;
      background-color: #f5cb11;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2vw;
      padding: 2vw;
      border-radius: 20px;
    }

    .discount img {
      width: 200px;
      object-fit: contain;
    }

    .coupon {
      background-color: #fff;
      max-width: 80%;
      margin: 0 auto;
    }

    .marginTop {
      margin-top: 1vw;
    }

    .marginDown {
      margin-top: 3vw;
    }

    footer {
      padding: 1vw 0;
      font-size: 2vw;
      background-color: #aeacfc;
      text-align: center;
    }

    /* =======桌機畫面========  */
    @media (max-width:1140px) {}

    /* ======== 手機畫面 ======== */
    @media (max-width:768px) {
      .part1 {
        width: 100%;
        height: 42vw;
        min-height: 360px;
      }


      .show {
        display: none;
      }

      .container {
        display: inline-block;
      }


      .soda-title-big {
        min-width: 180px;
      }

      .union {
        min-width: 60px;
      }

      .saja {
        min-width: 180px;
      }

      .boys {
        min-width: 180px;
      }

      .container.hidden {
        display: inline-block !important;
      }

      .dropdown-content {
        position: absolute;
        top: 60px;
        /* 可依你的導覽列高度調整 */
        right: 10px;
        display: none;
      }

      .dropdown-content.show {
        display: block;
      }


      .part5 {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .discount {
        margin: 2vw;
      }

      .part5 .text-34 {
        font-size: 30px;
      }

      .part5 .text-14 {
        font-size: 13px;
      }

      .discount {
        width: 50%;
      }

      .marginDown {
        margin-top: 4vw;
      }
    }