.runnerGame{
    background: var(--light-yellow2);
    height: calc(100vh - 60px);
}
.runnerGame h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--main-black);
    font-size: 24px;
    padding: 10px;
}

.gameWrap {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.gameBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}

#board {
    background-color: rgba(211, 211, 211, 0.5);
    border-radius: 10px;
    border-bottom: 1px solid #000;
    width: 100%;
    /* 關鍵：跟著容器寬度縮放 */
    height: auto;
    /* 等比例縮放高度 */
    display: block;
}

#startBtn,
#restartBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#restartBtn {
    display: none;
}

.gameWrap ul {
    list-style-position: inside;
    padding: 1.5em 3em;
    line-height: 1.5em;
}


.gameWrap ul li{
    margin: auto;

}