html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --main-black: #333333;

}

body {
    width: 100vw;
    height: 100vh;
    margin: auto;
    box-sizing: border-box;
}

.wrap {
    width: 100vw;
    height: calc(100vh - (80 / 1080 * 100vh));
    /* 扣掉導覽列的高度 */
    margin: auto;
    overflow: hidden;
    /* 背景淡入淡出設定 */
    transition: background-color 1s ease, opacity 0.8s ease;
    opacity: 1;
}

/* 淡出動畫（旋轉時背景漸隱） */
.wrap.fade-out {
    opacity: 0;
}

/* 淡入動畫（切換完新 group 漸顯） */
.wrap.fade-in {
    opacity: 1;
}

/* ------------------------------------------
   為每個 group 預設對應背景色（方便 JS 讀取）
------------------------------------------- */
[data-group="1"] {
    --bg-gradient: linear-gradient(180deg, #C7FF8F 0%, #2BAD2F 100%);
}

[data-group="2"] {
    --bg-gradient: linear-gradient(180deg, #E7C2FF 0%, #DDA2F2 100%);
}

[data-group="3"] {
    --bg-gradient: linear-gradient(180deg, #FFA1C1 0%, #FE3489 100%);
}

h2,
h3,
p {
    color: aliceblue;
    text-align: center;
}


/* ========全域樣式======= */
.sec1 {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color:var(--main-yellow);
}


/* 第一部分 */

.part1 {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--main-yellow);
}

/* ======== 星星動畫 ======== */
@keyframes floatStar {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-1vw) rotate(10deg);
    }

    100% {
        transform: translateY(0) rotate(0deg);
    }
}

@keyframes floatStarReverse {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(1vw) rotate(-10deg);
    }

    100% {
        transform: translateY(0) rotate(0deg);
    }
}

.star {
    position: absolute;
    width: 8vw;
    animation: floatStar 4s ease-in-out infinite;
}

.star.reverse {
    animation: floatStarReverse 5s ease-in-out infinite;
}

/* ======== 主視覺圖片 ======== */
.soda-title-big {
    position: absolute;
    top: 7vw;
    left: 33vw;
    width: 38vw;
}

.union {
    position: absolute;
    top: 20vw;
    left: 48vw;
    width: 8vw;
}

.saja {
    position: absolute;
    top: 27vw;
    left: 18vw;
    width: 30vw;
}

.boys {
    position: absolute;
    top: 28vw;
    left: 50vw;
    width: 30vw;
}

/* 星星分布位置 */
.star1 {
    top: 12vw;
    left: 8vw;
    width: 8vw;
}

.star2 {
    top: 11vw;
    right: 14vw;
    width: 8vw;
}

.star3 {
    top: 30vw;
    left: 5vw;
    width: 8vw;
}

.star4 {
    top: 20vw;
    left: 18vw;
    width: 8vw;
}

.star5 {
    top: 40vw;
    right: 15vw;
    width: 8vw;
}

#group {
    width: 300vw;
    height: calc(100vh - (80 / 1080 * 100vh));
    /* 扣掉導覽列的高度 */
    scroll-behavior: smooth;
    display: flex;

}

#group1,
#group2,
#group3 {
    width: 100vw;
    height: calc(100vh - (80 / 1080 * 100vh));
    /* 扣掉導覽列的高度 */
    overflow: hidden;
    flex: 0 0 100vw;
    position: relative;
    box-sizing: border-box;
}


#group1 {
    background-color: #2BAD2F;
}

#group2 {
    background-color: #DDA2F2;

}

#group3 {
    background-color: #FE3489;
}

#group1 h2,
#group2 h2,
#group3 h2 {
    font-weight: 400;
    font-style: normal;
    width: 20vw;
    font-size: 6vw;
    position: absolute;
    left: 10vw;
    top: 8vh;
    transform: rotate3d(1, 2, 1, -12deg);
}

#group1 h3,
#group2 h3,
#group3 h3 {
    width: 25vw;
    font-weight: 700;
    font-size: 3.5vw;
    position: absolute;
    right: 10vw;
    top: 10vh;
    transform: rotate3d(1, 2, 1, 14deg);
}

#group1 p,
#group2 p,
#group3 p {
    width: 20vw;
    font-weight: 700;
    font-size: 2vw;
    position: absolute;
    right: 13vw;
    top: 22vh;
    transform: rotate3d(1, 2, 1, 14deg);
}

.lomen1,
.lomen2 {
    position: absolute;
}

.lomen1 {
    left: 10vw;
    top: 28vh;
}

.lomen2 {
    left: 68vw;
    bottom: 10vh;
}

/* =============================
       旋轉罐動畫設定
============================= */

.sodaCan {
    width: 12vw;
    height: 46.3vh;
    position: relative;
    margin: 0 auto;
    margin-top: 20vh;
    --left: 0vw;
    transition: 0.7s;
    display: flex;
    justify-content: center;
    z-index: 2;
    /* 罐子底圖不要覆蓋按鈕*/
}

.can {
    background:
        var(--url) var(--left) 0,
        url(../images/can.png);
    /*罐子底圖*/
    background-size: auto 100%, auto 100%;
    width: 13.58vw;
    aspect-ratio: 2/4;
    /*罐子比例*/
    background-blend-mode: multiply;
    mask-image: url(../images/can.png);
    mask-size: auto 100%;
    transition: 2s;
    /* 控制旋轉速度 */
    pointer-events: none;
    /* 罐子不吃滑鼠事件，按鈕就能點 */
}

/* 加上 rotating 時，背景會水平移動形成旋轉感 */
.sodaCan.rotating .can {
    --left: -52.08vw;
    /* 控制旋轉角度 */
}

/* group 顯示/隱藏 */
.flavor-group {
    display: none;
}

.flavor-group.active {
    display: block;
}

.downBg {
    position: absolute;
    width: 100vw;
    height: 18vh;
    top: 71vh;
    box-sizing: border-box;
}

.downbtn {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 73vh;
    z-index: 5;
    /* 按鈕不要覆蓋罐子*/
}

.btn-l {
    background: var(--light-green-mid);
    line-height: 2;
}

/* 旋轉容器 */
.orbit-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #2BAD2F;
    /* 預設綠色 */
}

/* 圓形背景 */
.circle-background {
    position: absolute;
    bottom: -40%;
    left: 50%;
    width: min(308.34vw, 250vh);
    height: min(308.34vw, 250vh);
    transform: translate(-50%, 50%);
    transform-origin: center center;
    border-radius: 50%;
    background: #FFF9B9;
    pointer-events: none;
    z-index: 5;
}

/* 視覺軌道顯示卡片旋轉的邊界 */
.orbit-path {
    position: absolute;
    bottom: 200px;
    left: 50%;
    width: 60vw;
    height: 80vh;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
    z-index: 2;
    opacity: 1;
}

/* 實際卡片軌道 */
.card-orbit {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 60vw;
    height: 70vh;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-out;
    z-index: 10;
}

/* 卡片位置 */
.card-orbit .boxBody1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.boxBody1,
.boxBody2,
.boxBody3 {
    width: 25vw;
    height: 56vh;
    position: relative;
    z-index: 9 !important;
}

.boxBody1 img,
.boxBody2 img,
.boxBody3 img {
    width: 50%;
    position: absolute;
    bottom: 0%;
    left: 25%;
    z-index: 10 !important;
}

.boxBody1 {
    top: calc(50% - 67.5vh);
    left: calc(50% - 0vw);
    transform: translate(-50%, -50%) rotate(0deg) !important;
    opacity: 1 !important;
    visibility: visible !important;
    display: block !important;
}

.boxBody2 {
    top: calc(50% - 55vh);
    left: calc(50% - 33vw);
    transform: translate(-50%, -50%) rotate(-90deg) !important;
    opacity: 1 !important;
    visibility: visible !important;
    display: block !important;
}

.boxBody3 {
    top: calc(50% - 44vh);
    left: calc(50% + 0vh);
    transform: translate(-50%, -50%) rotate(-180deg) !important;
    opacity: 1 !important;
    visibility: visible !important;
    display: block !important;
}

.contentBg {
    width: 320px;
    height: 400px;
}

.contentTitle {
    width: 150%;
    height: 30%;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.contentTitle h2 {
    color: aliceblue;
    margin: 5px;
    padding: 5px 22px;
    float: left;
    line-height: 1.5;
    font-size: 3.5vw;
}

.contentMain {
    width: 150%;
    height: 91%;
    border-radius: 15px;
    color: aliceblue;
}

.contentMain p {
    width: 100%;
    padding: 40px;
    font-size: 1.5vw;
    text-align: justify;
}

.boxBody1 .contentTitle {
    background-color: #1A871D;
}

.boxBody2 .contentTitle {
    background-color: #6B438B;
}

.boxBody3 .contentTitle {
    background-color: #D21670;
}

.boxBody1 .contentMain {
    background-color: #2BAD2F;
}

.boxBody2 .contentMain {
    background-color: #E33DDC;
}

.boxBody3 .contentMain {
    background-color: #FE3489;
}

.product {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.soda {
    flex: 1;
    height: 100vh;
    position: relative;
}

.soda.sodaGreen {
    background-color: #2BAD2F;
}

.product h2 {
    margin-top: 4.63vh;
    font-size: 2.4vw;
}

.product .price {
    width: 15.63vw;
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.93vh;
    font-size: 1.04vw;
    line-height: 1.8;
    margin: auto;
}

.product .price p {
    width: 50%;
    box-sizing: border-box;
}

.character {
    position: absolute;
}

#photo1 {
    top: 12vh;
    left: 0%;
}

.char-left {
    top: 20vh;
    left: -3%;
    width: 60%;
    height: auto;
}

.char-center {
    bottom: 5vh;
    left: 28%;
    width: 45%;
    height: auto;
}

.char-right {
    bottom: 3vh;
    right: 5%;
    width: 25%;
    height: auto;
}

.soda.sodaPink {
    background-color: #FE2D7E;
}

.soda.sodaPurple {
    background-color: #D5A5E6;
}

.soda .show {
    width: 100%;
    height: 60%;
    position: absolute;
    top: 38vh;
    display: none;
    z-index: 11;
    text-align: center;
}

.show a {
    display: inline-block;
}

.touch {
    margin: 0.2vw;
    width: 6.5vw;
    height: 12.7vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.3s;
}

.touch1 {
    background-image: url(../images/product/show1.png);
}

.touch2 {
    background-image: url(../images/product/show2.png);
}

.touch3 {
    background-image: url(../images/product/show3.png);
}

.coverBlack {
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    transition: opacity 0.3s ease;
}

.soda.sodaGreen:hover .show,
.soda.sodaPink:hover .show,
.soda.sodaPurple:hover .show {
    display: block;
}

.soda.sodaGreen:hover .coverBlack,
.soda.sodaPink:hover .coverBlack,
.soda.sodaPurple:hover .coverBlack {
    display: block;
}

.touch1:hover {
    background-image: url(../images/product/touch1.png);
    display: block;
}

.touch2:hover {
    background-image: url(../images/product/touch2.png);
    display: block;
}

.touch3:hover {
    background-image: url(../images/product/touch3.png);
    display: block;
}

/* ======== 第五部分 ======== */

.sect5 {
    background-color: var(--light-yellow2);
    display: flex;
    height: 50vh;
    justify-content: center;
    margin-top: 0;
}

.part5 {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    color: #fff;
    text-align: center;
    letter-spacing: 0.3em;
    margin-top: 0;
}

.part5 .text-34 {
    font-size: 34px;
    letter-spacing: 0.02em
}

.part5 .text-14 {
    font-size: 14px;
}

.text-shadow {
    text-shadow: 1px 1px #000, 1px -1px #000,
        -1px 1px #000, -1px -1px #000;
}

.discount {
    width: 30%;
    background-color: #f5cb11;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw;
    padding: 2vw;
    border-radius: 20px;
}

.discount img {
    width: 10vw;
    object-fit: contain;
}

.coupon {
    background-color: #fff;
    max-width: 80%;
    margin: 0 auto;
}

.marginTop {
    margin-top: 1vw;
}

.marginDown {
    margin-top: 3vw;
}

@media screen and (max-width: 1120px) {
    .part1 {
        width: 100%;
        height: 60%;
    }
}

/* ==================== 手機版 RWD (最大 640px，以 320px 為基準) ==================== */
@media screen and (max-width: 640px) {


    .wrap {
        height: calc(100vh - (80 / 569 * 100vh));
    }

    /* Group 區塊保持水平滾動 */
    #group {
        width: 300vw;
        height: calc(100vh - (80 / 569 * 100vh));
        /* 扣掉導覽列的高度 */
        display: flex;
        flex-direction: row;
    }

    #group1,
    #group2,
    #group3 {
        width: 100vw;
        height: calc(100vh - (80 / 569 * 100vh));
        /* 扣掉導覽列的高度 */
        flex: 0 0 100vw;
    }

    /* 標題文字 - 針對小螢幕優化 */
    #group1 h2,
    #group2 h2,
    #group3 h2 {
        width: 100vw;
        font-size: 10vw;
        position: static;
        transform: none;
        margin-top: 0.5vh;
    }

    #group1 h3,
    #group2 h3,
    #group3 h3 {
        width: 100vw;
        font-size: 5vw;
        position: static;
        transform: none;

    }

    #group1 p,
    #group2 p,
    #group3 p {
        width: 100vw;
        font-size: 5vw;
        position: static;
        transform: none;
        margin-top: 0.5vh;
    }

    /* 檸檬圖片調整 */
    .lomen1 img {
        width: 65%;
    }

    .lomen2 img {
        width: 220%;
    }

    .lomen1 {
        left: -45vw;
        top: 18vh;
    }

    .lomen2 {
        left: 65vw;
        bottom: -12vh;
    }

    /* =============================
       旋轉罐動畫設定
     ============================= */
    .sodaCan {
        width: 60vw;
        height: calc(2 * 50vw);
        /* 保持 1:2 比例 */
        margin-top: 1vh;
    }

    .can {
        width: 50vw;
    }

    /* 加上 rotating 時，背景會水平移動形成旋轉感 */
    .sodaCan.rotating .can {
        --left: -450px;
        /* 控制旋轉角度 */
    }

    /* 底部背景和按鈕 */
    .downBg {
        display: none;
    }

    .downbtn {
        width: 100vw;
        top: 66vh;
        z-index: 5;
        /* 按鈕不要覆蓋罐子*/
    }

    .btn-l {
        width: 70%;
        padding: 0;
        height: 12vh;
        line-height: 12.5vh;
        border-radius: 13.33vw;
        font-size: 10vw;
    }

    /* 旋轉容器 */
    .orbit-container {
        width: 100vw;
        height: 100vh;
    }

    /* 圓形背景 */
    .circle-background {
        bottom: -10%;
        right: -30%;
    }

    /* 視覺軌道顯示卡片旋轉的邊界 */
    .orbit-path {
        width: 360vw;
        height: 350vh;
    }

    /* 實際卡片軌道 */
    .card-orbit {
        width: 360vw;
        height: 350vh;
        bottom: -160%;
    }

    /* 卡片位置 */
    .boxBody1,
    .boxBody2,
    .boxBody3 {
        width: 80vw;
        height: 56vh;
        position: relative;
        z-index: 9 !important;
    }

    .boxBody1 img,
    .boxBody2 img,
    .boxBody3 img {
        display: none;
    }

    .boxBody1 {
        top: calc(50% - 46.5vh);
        left: calc(50% + 1.8vw);
        transform: translate(-50%, -50%) rotate(0deg) !important;
        opacity: 1 !important;
        visibility: visible !important;
        display: block !important;
    }

    .boxBody2 {
        top: calc(50% - 33.5vh);
        left: calc(50% - 74vw);
        transform: translate(-50%, -50%) rotate(-120deg) !important;
        opacity: 1 !important;
        visibility: visible !important;
        display: block !important;
    }

    .boxBody3 {
        top: calc(50% - 88vh);
        left: calc(50% + 40vh);
        transform: translate(-50%, -50%) rotate(120deg) !important;
        opacity: 1 !important;
        visibility: visible !important;
        display: block !important;
    }

    .contentBg {
        width: 120%;
        width: 120%;
    }

    .contentTitle {
        width: 80%;
        height: 20%;
    }

    .contentTitle h2 {
        margin: 0px;
        padding: 2vh 3.6vw;
        line-height: 1.5;
        font-size: 12vw;
    }

    .contentMain {
        width: 80%;
        height: 60%;
    }

    .contentMain p {
        width: 100%;
        font-size: 6vw;
    }

    /* Product 區塊改為垂直堆疊 */
    .product {
        flex-direction: column;
        height: auto;
        width: 100vw;
    }

    .soda {
        width: 100vw;
        min-height: 100vh;
        /* 使用 min-height 避免內容被截斷 */
    }

    /* 產品標題和價格 */
    .product h2 {
        margin-top: 4vh;
        font-size: 6vw;
        /* 改成相對螢幕寬度 */
        text-align: center;
    }

    .product .price {
        width: 85vw;
        font-size: 4.5vw;
        padding-top: 2vh;
        max-width: 400px;
        /* 大手機上不會過寬 */
    }

    .product .price p {
        padding: 0.5vh 0;
    }

    .character {
        width: 100%;
    }

    /* 角色圖片重新排版 - 針對小螢幕 */
    .char-left {
        top: 24vh;
        left: 32%;
        transform: translateX(-50%);
        width: 75vw;
        max-width: 280px;
    }

    .char-center {
        bottom: 15vh;
        left: 38%;
        width: 38vw;
        max-width: 150px;
    }

    .char-right {
        bottom: 3vh;
        right: 3%;
        width: 30vw;
        max-width: 150px;
    }

    #photo1 {
        top: 15vh;
        left: 40%;
        transform: translateX(-50%);
        width: 75vw;
        max-width: 280px;
    }

    /* hover 改為點擊可用狀態（手機沒有 hover） */
    .soda .show {
        width: 100vw;
        height: 15%;
        top: 42vh;
        display: block;
    }

    .touch {
        width: 15.5vw;
        height: 15vh;
    }

    /* 手機版不顯示遮罩，避免誤觸 */
    .soda.sodaGreen:hover .coverBlack,
    .soda.sodaPink:hover .coverBlack,
    .soda.sodaPurple:hover .coverBlack {
        display: none;
    }

    .part1 {
        width: 100%;
        height: 60vh;
        min-height: 800px;
    }

    /* ======== 主視覺圖片 ======== */
    .soda-title-big {
        position: absolute;
        top: 20vw;
        left: 16vw;
        width: 70vw;
    }

    .union {
        position: absolute;
        top: 50vw;
        left: 42vw;
        width: 16vw;
    }

    .saja {
        position: absolute;
        top: 75vw;
        left: 0vw;
        width: 55vw;
        rotate: -5deg;
    }

    .boys {
        position: absolute;
        top: 105vw;
        left: 37vw;
        width: 55vw;
        rotate: 2deg;
    }

    /* 星星分布位置 */
    .star1 {
        top: 8vw;
        left: 4vw;
        width: 15vw;
    }

    .star2 {
        top: 40vw;
        left: 70vw;
        width: 15vw;
    }

    .star3 {
        top: 60vw;
        left: 29vw;
        width: 15vw;
    }

    .star4 {
        top: 80vw;
        left: 75vw;
        width: 15vw;
    }

    .star5 {
        top: 115vw;
        left: 0vw;
        width: 15vw;
    }


    .sect5 {
        height: 100vh;
    }

    .part5 {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .discount {
        padding-top: 7vh;
        height: 50vh;
        margin: 2vw;
    }

    .discount img {
        width: 30vw;
    }

    .part5 .text-34 {
        font-size: 32px;
    }

    .part5 .text-14 {
        font-size: 16px;
    }

    .discount {
        width: 50%;
    }

    .marginDown {
        margin-top: 4vw;
    }
}