:root {
    /* 顏色設定 */
    --main-black: #333;
    --main-color: #B1F3F7;
    --light-blue: #74b8f7;

    --main-gray-light: rgb(245, 245, 245);
    --main-gray-drck: rgb(223, 223, 223);
    --main-gray: #888;

    --main-yellow: #FEE832;
    --light-yellow: #fff7e6;
    --drck-yellow: #ada89d;

    --main-orange: #fe8e32;
    --drck-orange: #ef8024;
    --light-orange: #FFCD05;

    --product-green-light: #2BAD2F;
    --product-green-mid: #1A871D;
    --product-green-drck: #0C2C0D;

    --product-purple-light: #DDA2F2;
    --product-purple-mid: #E33DDC;
    --product-purple-btn: #8A4EBA;
    --product-purple-drck: #6B438B;

    --product-pink-light: #FE3489;
    --product-pink-mid: #D21670;
    --product-pink-drck: #9C315E;

    --product-pink-cover: #ff8bbb80;
}

html,
body {
    /* 文字設定 */
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');
    font-family: "Zalando Sans SemiExpanded", sans-serif;

    /* 主樣式設定 */
    vertical-align: top;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

/* 按鈕樣式及動畫設定 */

.btn-l {
    margin: 30px auto;
    height: 70px;
    line-height: 50px;
    text-align: center;
    width: 400px;
    color: #333;
    padding: 10px 0;
    text-align: center;
    border-radius: 50px;
    font-size: 36px;
    font-weight: 400;
    background-color: var(--light-blue);
    border: 1px solid var(--main-black);
    box-shadow: 0px 3px 0px var(--main-black);
    transition: all 100ms ease;
}

.btn-s {
    margin: 30px auto;
    transition: all 100ms ease;
    background: white;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 3px 0px var(--main-black);
    transition: all 100ms ease;
}

.btn-s img {
    width: 30%;
}

.btn-l:hover {
    cursor: pointer;
    transform: translateY(3px);
    box-shadow: 0px 0px 0px #ffffff00;
}

.btn-s:hover {
    cursor: pointer;
    transform: translateY(3px);
}

@media (max-width: 768px) {
    .btn-l {
        width: 80%;

        padding: 12px 0;
    }

    .btn-s {}
}