:root {
    --main-color: #B1F3F7;
    
    --main-yellow: #FEE832;
    --light-yellow: #FFF9B9;
    --light-orange: #FFCD05;

    --product-green-light: #2BAD2F;
    --product-green-mid: #1A871D;
    --product-green-drck: #0C2C0D;

    --product-purple-light: #DDA2F2;
    --product-purple-mid: #E33DDC;
    --product-purple-btn: #8A4EBA;
    --product-purple-drck: #6B438B;

    --product-pink-light: #FE3489;
    --product-pink-mid: #D21670;
    --product-pink-drck: #9C315E;

    --product-pink-cover: #FF8BBC;
}