/* Shopping Car */
.shoppingCar {
    width: 100vw;
    height: 100vh;
    background-color: var(--product-pink-cover);
    font-weight: bold;
}

.cart {
    position: fixed;
    top: 90px;
    right: 90px;
    width: 500px;
    padding: 30px;
    background-color: white;
    border-radius: 30px;
}

.cart-title-box {
    display: flex;
    justify-content: space-between;
}

.cart-title {
    font-size: 30px;
    margin: 20px 0;
}

.close-btn {
    color: white;
    background-color: #333;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
}

.item-box {
    display: flex;
    margin: 20px 0;
}

.cart-item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
    background-color: var(--product-green-mid);
    font-size: 60px;
    color: white;
    width: 200px;
    height: 200px;
    text-align: center;
}

.cart-item-img img {
    height: 90px;
    margin-left: 10px;
}

.cart-item-info {
    margin-left: 50px;
    line-height: 2rem;
    width: 50%;
}

.cart-item-cout {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.cart-item-info ul {
    width: 100px;
    display: flex;
    border: 1px solid #000;
    border-radius: 5px;
    justify-content: space-around;
}

.cart-item-info li {
    text-align: center;
    width: 100%;
}

.cout-btn {
    cursor: pointer;
}

.cout-btn:hover {
    background: var(--product-pink-cover);
}

.subtotal {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    float: right;
    width: 50%;
    margin: 50px 0;
}

.payment-btn {
    color: #333;
    margin: 30px;
    clear: both;
    padding: 10px 0;
    text-align: center;
    border-radius: 50px;
    font-size: 36px;
    font-weight: 400;
    background-color: var(--light-orange);
    border: 1px solid #333;
    box-shadow: 0px 5px 0px #333;
}